<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goodsHot.dao.GoodsHotDao">
<!--    统计商品id-->
    <select id="countProduct" parameterType="com.goodsHot.entity.GoodsHotInfo" resultType="int">
        select count(product_id)
        from
            t_sys_product_hot
        where product_id=#{goodsId}
    </select>
<!--新增热门商品-->
    <insert id="addGoodsHot" parameterType="com.goodsHot.entity.GoodsHotInfo">
        insert into t_sys_product_hot
           (product_hot_id,
            product_id,
            number,
            hot_sort,
            is_deleted,
            create_people,
            create_time,
            update_people,
            update_time,
            version)
        values (
            #{goodsHotId},
            #{goodsId},
            #{number},
            #{sort},
            0,
            #{createPeople},
            now(),
            #{updatePeople},
            now(),
            0)

    </insert>
<!--    查询热门商品详情-->
    <select id="findGoodsHotById" parameterType="java.lang.String" resultType="com.goodsHot.entity.GoodsHotDetailVO">
        select
            product_id goodsId,
            hot_sort   sort
        from t_sys_product_hot
        where product_hot_id=#{goodsHotId}
        and   is_deleted=0
    </select>
<!--    修改热门商品-->
    <update id="updateGoodsHotById" parameterType="com.goodsHot.entity.GoodsHotInfo">
        update t_sys_product_hot
        set
            product_id  =   #{goodsId},
            hot_sort    =   #{sort},
            update_people   =   #{updatePeople},
            update_time =   now(),
            version =   version+1
        where product_hot_id = #{goodsHotId}
        and version = #{version}
    </update>
<!--    删除热门商品-->
    <delete id="deleteGoodsHot" parameterType="com.goodsHot.entity.GoodsHotInfo">
        update t_sys_product_hot
        set
         is_deleted=1,
         update_people=#{userId},
         update_time=now(),
         version = version+1
        where product_hot_id in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>

    </delete>
<!--    查询热门商品列表-->
    <select id="listGoodsHot" parameterType="com.goodsHot.entity.GoodsHotListVo" resultType="com.goodsHot.entity.GoodsHotListVo">
        select
            a.product_hot_id goodsHotId,
            a.hot_sort       sort,
            b.product_code   goodsCode,
            b.product_name   goodsName,
            b.product_idc    goodsIntroduction,
            b.price          costPrice
        from t_sys_product_hot a
        left join t_sys_product b on a.product_id=b.product_id
        where a.is_deleted=0
        <if test="goodsName != null and goodsName != ''">
        and b.product_name like concat('%', #{goodsName}, '%')
        </if>
        <if test="goodsCode != null and goodsCode != ''">
            and b.product_code like concat('%', #{goodsCode}, '%')
        </if>
        order by update_time desc
    </select>
<!--   展示商品数量设置-->
    <update id="setGoodsHot" parameterType="com.goodsHot.entity.GoodsHotInfo">
        update t_sys_product_hot
        set
         number=#{number}
    </update>
</mapper>